{% extends 'admin.twig' %}
{% block content %}
    <style type="text/css">
    table.dataTable thead tr th:not(.label) {
        text-align: left;
    }
    </style>
    {% import 'macros.twig' as piwik %}

    {% if notifications is not empty and notifications|length %}
        {% for notificationId, n in notifications %}

            {{ n.message|notification({'id': notificationId, 'type': n.type, 'title': n.title, 'noclear': n.hasNoClear, 'context': n.context, 'raw': n.raw}, false) }}

        {% endfor %}
    {% endif %}


    {% if notificationList|length >= 1 %}
    <div id="messages" class="alert">
       {% for notification in notificationList %}
            <p>{{notification}}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card container-fluid">
        <div class="card-content">
            <h2>Manage Notifications</h2>
            <h3>Existing Notifications</h3>
            <table class="dataTable table table-striped">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Context</th>
                        <th>Priority</th>
                        <th>Type</th>
                        <th>Raw</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in messages %}
                        <tr>
                            <td>{{ notification.enabled }}</td>
                            <td>{{ notification.title }}</td>
                            <td>{{ notification.message | raw }}</td>
                            <td>{{ notification.context }}</td>
                            <td>{{ notification.priority }}</td>
                            <td>{{ notification.type }}</td>
                            <td>{{ notification.raw }}</td>
                            <td>
                                <a href="{{ linkTo({'module':'RebelNotifications','action':'editNotification', 'notificationId': notification.id}) }}">
                                    <span class="icon-edit"></span>
                                </a>
                            </td>
                            <td><a href='{{ linkTo({'module':'RebelNotifications','action':'deleteNotification', 'notificationId': notification.id}) }}'><span class="icon-delete"></span></a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">No notifications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group" style="margin-bottom: 2em">
                <h3>Create New Notification</h3>
                <form method="POST"
                      action="{{ linkTo({"module": "RebelNotifications", "action": "createNotification"}) }}">
                    <div class="checkbox row">
                        <label for="enabled">
                            <input type="checkbox" id="enabled" name="enabled" value="1" checked>
                            <span>Enabled</span>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Title:
                            <input type="text" name="title" required>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Message:
                            <textarea name="message" class="materialize-textarea" required></textarea>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Context:
                            <select name="context" id="context" class="select-dropdown dropdown-trigger">
                                {% for context in contexts %}<option value="{{ context }}">{{ context }}</option>{% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Priority:
                            <select name="priority"
                                    id="priority"
                                    class="select-dropdown dropdown-trigger">
                                {% for priority in priorities %}<option value="{{ priority }}">{{ priority }}</option>{% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Type:
                            <div class="matomo-field-select">
                                <select name="type" id="type" class="select-dropdown dropdown-trigger">
                                    {% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}
                                </select>
                            </div>
                        </label>
                    </div>
                    <div class="checkbox row">
                        <label for="raw">
                            <input type="checkbox" id="raw" name="raw" value="1">
                            <span>Raw (HTML)</span>
                        </label>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn">Create Notification</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}