{% extends 'admin.twig' %}
{% block content %}
    {% import 'macros.twig' as piwik %}

    {% if notifications is not empty and notifications|length %}
        {% for notificationId, n in notifications %}
            {{ n.message|notification({'id': notificationId, 'type': n.type, 'title': n.title, 'noclear': n.hasNoClear, 'context': n.context, 'raw': n.raw}, false) }}
        {% endfor %}
    {% endif %}
    {% if notificationList|length >= 1 %}
    <div id="messages" class="alert">
       {% for notification in notificationList %}
            <p>{{notification}}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card container-fluid">
        <div class="card-content">
            <h2>{{ 'RebelNotifications_ManageNotifications'|translate }}</h2>
            <h3>{{ 'RebelNotifications_ExistingNotifications'|translate }}</h3>
            <table class="dataTable table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'RebelNotifications_Enabled'|translate }}</th>
                        <th>{{ 'RebelNotifications_Public'|translate }}</th>
                        <th>{{ 'RebelNotifications_Title'|translate }}</th>
                        <th>{{ 'RebelNotifications_Message'|translate }}</th>
                        <th>{{ 'RebelNotifications_Context'|translate }}</th>
                        <th>{{ 'RebelNotifications_Priority'|translate }}</th>
                        <th>{{ 'RebelNotifications_Type'|translate }}</th>
                        <th>{{ 'RebelNotifications_Raw'|translate }}</th>
                        <th>{{ 'RebelNotifications_Edit'|translate }}</th>
                        <th>{{ 'RebelNotifications_Delete'|translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in messages %}
                        <tr>
                            <td>{% if notification.enabled == "1" %}
                                <span class="icon-show" title="{{ 'RebelNotifications_Enabled'|translate }}"></span>
                            {% elseif notification.enabled == "0" %}
                                <span class="icon-hide" title="{{ 'RebelNotifications_Disabled'|translate }}"></span>
                            {% endif %}
                           </td>
                           <td>{% if notification.public == "1" %}
                                <span class="icon-show" title="{{ 'RebelNotifications_Public'|translate }}"></span>
                            {% elseif notification.public == "0" %}
                                <span class="icon-hide" title="{{ 'RebelNotifications_NotPublic'|translate }}"></span>
                            {% endif %}
                           </td>
                            <td>{{ notification.title }}</td>
                            <td>{{ notification.message | raw }}</td>
                            <td>{{ notification.context }}</td>
                            <td>{{ notification.priority }}</td>
                            <td>{{ notification.type }}</td>
                            <td>{{ notification.raw }}</td>
                            <td>
                                <a href="{{ linkTo({'module':'RebelNotifications','action':'editNotification', 'id': notification.id}) }}" title="{{ 'RebelNotifications_EditNotification'|translate }}">
                                    <span class="icon-edit"></span>
                                </a>
                            </td>
                            <td><a href='{{ linkTo({'module':'RebelNotifications','action':'deleteNotification', 'id': notification.id}) }}' title="{{ 'RebelNotifications_DeleteNotification'|translate }}"><span class="icon-delete"></span></a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{{ 'RebelNotifications_NoNotificationsFound'|translate }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group" class="rebel-margin">
                <h3>{{ 'RebelNotifications_CreateNewNotification'|translate }}</h3>
                <form method="POST"
                      action="{{ linkTo({"module": "RebelNotifications", "action": "createNotification"}) }}">
                    <div class="checkbox row">
                        <label for="enabled">
                            <input type="checkbox" id="enabled" name="enabled" value="1" checked>
                            <span>{{ 'RebelNotifications_Enabled'|translate }}</span>
                        </label>
                    </div>
                    <div class="checkbox row">
                        <label for="public">
                            <input type="checkbox" id="public" name="public" value="1" checked>
                            <span>{{ 'RebelNotifications_Public'|translate }}</span>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            {{ 'RebelNotifications_Title'|translate }}
                            <input type="text" name="title" required>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            {{ 'RebelNotifications_Message'|translate }}
                            <textarea name="message" class="materialize-textarea" required></textarea>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            {{ 'RebelNotifications_Context'|translate }}
                            <select name="context" id="context" class="select-dropdown dropdown-trigger">
                                {% for context in contexts %}<option value="{{ context }}">{{ context }}</option>{% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            {{ 'RebelNotifications_Priority'|translate }}
                            <select name="priority"
                                    id="priority"
                                    class="select-dropdown dropdown-trigger">
                                {% for priority in priorities %}<option value="{{ priority }}">{{ priority }}</option>{% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            {{ 'RebelNotifications_Type'|translate }}
                            <div class="matomo-field-select">
                                <select name="type" id="type" class="select-dropdown dropdown-trigger">
                                    {% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}
                                </select>
                            </div>
                        </label>
                    </div>
                    <div class="checkbox row">
                        <label for="raw">
                            <input type="checkbox" id="raw" name="raw" value="1">
                            <span>{{ 'RebelNotifications_RawHTML'|translate }}</span>
                        </label>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn">{{ 'RebelNotifications_CreateNotification'|translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}